.lead{
    color:ghostwhite;
    font-size: 25px;
}


#about{
    
    background-color: papayawhip;
    
}

.navbar{
    margin-bottom: 0px;
}
.media{
    margin-top: 0px;
}

#carousel-example-generic{
    width: 100%;
    height: 10%;
}

#deskripsiabout{
    color: black;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

#brands{
    color: black;
}
.testimoni{
margin-bottom: 10px;
margin-top: 10px;
}
#inner{
        height: 270px
}
#logo{
    background-color: whitesmoke;
    margin-bottom: 0px;
}
#footer{
    
    background-color:wheat;
    margin-top: 2px;
    
    }
.lead{
    color: black;
}

#deskripsiabout{
    padding-top: 100px;
}

.carousel-caption{
    color: white;
}

#gambarlogo{
    padding-left: 100px;
    margin-bottom: 20px;
}
